/target/
/nbproject/
nbactions*.xml
build.sh
TKW-x.jar
push_tkw_to_dockerhub.sh
nbactions-*
nb-configuration.xml
dependency-reduced-pom.xml
TKW-x.jar
src/test/resources/test.tdv
src/test/resources/test.metadata
*.backup
TKW-x_TestLog.txt
tkw-x-fixroot-postpush.sh
tkw-x-fixroot-prepull.sh
